<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="calendar">
        <table>
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <div class="date-container">
                        <span class="date">1</span>
                        <input type="text" class="edit-box">
                    </div>
                </td>
            </tbody>
        </table>
    </div>
</body>
</html>
