<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALENDAR</title>
    <link rel="stylesheet" href="/static/calendar.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  </head>
  <header>
    <h1>AGENDIFY</h1>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('diary') }}">Diary Post</a></li>
            <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
            <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
            <li><a href="{{ url_for('tasklist') }}">To Do List</a></li>
        {% else %}
            <li><a href="{{ url_for('login_page') }}">Login</a></li>
            <li><a href="{{ url_for('register_page') }}">Register</a></li>
        {% endif %}
        </ul>
    </nav>
</header>
  <body>
    <div class="contianer">
      <div class="calendar">
        <div class="calendar-header">
          <span class="month-picker" id="month-picker"> October </span>
          <div class="year-picker" id="year-picker">
            <span class="year-change" id="pre-year">
              <pre><</pre>
            </span>
            <span id="year">2023 </span>
            <span class="year-change" id="next-year">
              <pre>></pre>
            </span>
          </div>
        </div>
 
        <div class="calendar-body">
          <div class="calendar-week-days">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="calendar-days">
          </div>
        </div>
        <div class="calendar-footer">
        </div>
        <div class="date-time-formate">
          <div class="day-text-formate">TODAY</div>
          <div class="date-time-value">
            <div class="time-formate">02:51:20</div>
            <div class="date-formate">20- October - 2023</div>
          </div>
        </div>
        <div class="month-list"></div>
      </div>
    </div>
  </body>
  <script src="/static/calendarscript.js"></script>
</html>