<!DOCTYPE html>
<html>
<head>
    <title>Agendify</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        
        <h1>AGENDIFY</h1>

          <nav class="navbar">
        <ul>
            <li ><a href="/">Home</a></li>
            <li ><a href="/diary.html">Diary</a></li>
            <li ><a href="/notes.html">Notes</a></li>
            <li ><a href="/calendar.html">Calendar</a></li>
            <li ><a href="/dailyaffirmations.html">Affirmations</a></li>
        </ul>
    </nav>
        
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Today's tasks</h2>
            <p>Check out what's on the agenda for today..</p>
            <input type="text" id="task-input" placeholder="Add a new task">
            <button id="add-task">Add</button>
            <ul id="task-list"></ul>
                
             <input type="text" id="task-input" placeholder="Task description">
                <select id="priority-dropdown">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                    <option value="important">Important</option>
                    <option value="urgent">Urgent</option>
                    <option value="not urgent">Not Urgent</option>
                </select>
                <button id="add-task">Add Task</button>
   
                <script src="{{ url_for('static', filename='script.js') }}"></script>
            </ul>
        </div>
        
        <div class="container">
            <h2>Urgent Tasks this Week</h2>
            <p>To be completed asap</p>
        </div>
    </main>
    <footer>
        <p>&copy; Agendify 2023</p>
    </footer>
</body>
</html>